.wrapper {
    width: 100%;
    height:5%;
    padding-top: 1rem/* 16px */;
    padding-bottom: 1rem/* 16px */;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 13s linear infinite;
    animation-direction: alternate;
}

.wrapper2 {
    width: 100%;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 13s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}